{% extends 'registration/base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}
  <div class="col-sm-8 col-md-6 col-lg-4">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">{% trans 'Log in to your account' %}</h4>
        <form method="post" action="{% url 'sso_login' %}?sso">
            {% csrf_token %}
            {% if request.GET.next %}
              <input type = "hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <button type="submit" class="btn btn-primary btn-block">{% trans 'Log in with NYC ID' %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
